/* Root */

html {
  font-size: 18px;
}

/* Root style */

body {
  font-family: Helvetica, sans-serif;
  width: auto;
  margin: 0;
}

p {
 color: white;
}

/* Logo section */

.logo-container {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: black;
  border: 3px solid #00cc99;

}

.logo {
  display: flex;
  width: 960px;
  margin: auto;
  color: white;
  border: 3px solid #cc66ff;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.logo p {
  font-size: 1rem;
}

/* Header section */

.header-container {
  display: flex;
  width: 100%;
  height: 25rem;
  margin: auto;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  justify-content: center;
  border: 3px solid #66ff66;
}

.header {
  display: flex;
  width: 960px;
  padding-top: 9rem;
  align-items: flex-start;
  border: 3px solid #ff9900;
}

.header-copy {
  display: flex;
  background-color: black;
  color: white;
  width: 20rem;
  padding-left: 3rem;
  flex-direction: column;
  border: 3px solid #ff0000;
}

.header-copy h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 0.25rem;
}

.header-copy h1 {
  font-size: 2rem;
  font-weight: bold;
}


/* Nav section */

.nav-container {
  display: flex;
  width: 100%;
  background-color: firebrick;
  justify-content: center;
  border: 3px solid #9933ff;
}

.nav {
  display: flex;
  width: 960px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #9934ff;
}

.nav p {

}

/* Main content section */

.main-container {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: white;
  border: 3px solid #ffff00;
}

.main {
  display: flex;
  width: 960px;
  margin: auto;
  padding: 3rem 0;
  justify-content: space-between;
  border: 3px solid #cc0066;
}

.product {
  display: flex;
  width: 30%;
  height: auto;
  padding-bottom: 0;
  flex-direction: column;
  border: 4px solid black;
}

.product img {
  display: flex;
  height: 9rem;
  padding: 2rem 0;
}

.product p {
  display: flex;
  justify-content: center;
  background-color: black
}

/* Info section */

.info-container {
  display: flex;
  width: 100%;
  margin: auto;
  border: 3px solid #669999;
}

.info {
  display: flex;
  width: 960px;
  margin: auto;
  padding: 3rem 0;
  justify-content: space-between;
  border: 3px solid #006600;
}

.details {
  display: flex;
  width: 35%;
  height: auto;
  flex-direction: column;
  border: 3px solid #0000cc;
}

.detail-title {
  background-color: black;
}

.detail-copy {

}

/* Footer section */

.footer-container {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: black;
  border: 3px solid #00ccff;
}

.footer {
  display: flex;
  width: 960px;
  margin: auto;
  border: 3px solid #ccff99;
}
